@font-face {
  font-family: 'Rubik';
  src: url("../assets/fonts/Rubik-VariableFont_wght.ttf")format("truetype")
}
@font-face {
  font-family: 'Rubik_Italic';
  font-style: italic;
  src: url("../assets/fonts/Rubik-VariableFont_wght.ttf") format("truetype");
}